Source: pscheduler-tool-nuttcp
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10), python3
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-nuttcp
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler (>= 4.4.0~),
 pscheduler-server (>= 4.4.0~), pscheduler-test-throughput,
 nuttcp (>= 8.1.4~)
Recommends: numactl
Description: pScheduler nuttcp tool
 nuttcp tool class for pScheduler
