Source: pscheduler-tool-ping
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-ping
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 python-ipaddr, python-icmperror, sudo, iputils-ping
Description: pScheduler ping tool
 Ping tool class for pScheduler
