Source: pscheduler-tool-traceroute
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-traceroute
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 pscheduler-server, pscheduler-test-trace, pscheduler-account,
 python-icmperror, traceroute, sudo
Description: pScheduler traceroute tool
 Traceroute tool class for pScheduler
