Source: pscheduler-tool-bwctliperf3
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-bwctliperf3
Architecture: all
Depends: ${misc:Depends}, pscheduler-server (>= 4.3.0), pscheduler-test-throughput
Description: pScheduler bwctliperf3 tool (DISABLED)
 bwctliperf3 tool class for pScheduler
 (DISABLED)
