# Ignore mac hidden files
.DS_Store

# Keyring files
.pki/

# Editor Droppings
.*.swp
*~

# Ignore rpms, logs and other build artifacts
unibuild-log
unibuild-repo
unibuild-work

# Quilt cache directory
.pc/

# Vagrant cache
.vagrant/
