# Ignore mac hidden file
.DS_Store

# Editor Droppings
.*.swp
*~

# Ignore rpms, logs and other build artifacts
*.rpm
*.pyc
*.log
*/rpmbuild
REPO/
*/.rpmmacros
*/BUILD-ROOT/
*.egg-info
*.coverage
*.pc/

#ignore tarballs from build process
make-generic-rpm/*.tar.gz
postgresql-init/*.tar.gz
postgresql-load/*.tar.gz
pscheduler*/*.tar.gz
python-icmperror/*.tar.gz
python-pscheduler/*.tar.gz
random-string/*.tar.gz
rpm-with-deps/*.tar.gz

# Ignore quilt cache directory and backup files
.pc/
debian/patches/*~

# Ignore encryption leftovers
.pki/
