#!/usr/bin/make -f
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@ --builddirectory=debian/build --buildsystem=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

# Ubuntu dbgsym.ddeb are currently not supported by reprepro
override_dh_strip:
	dh_strip --no-automatic-dbgsym
