Source: pscheduler-tool-simplestreamer
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>,
 Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-simplestreamer
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 pscheduler-server, pscheduler-test-simplestream
Description: pScheduler simple stream tool
 Simple Stream tool class for pScheduler
