#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	make \
		DATADIR=/usr/share/pscheduler


override_dh_auto_install:
	make \
		INTERNALSDIR=$(CURDIR)/debian/pscheduler-json-dictionary/usr/bin \
		INSTALLED_DATADIR=$(CURDIR)/debian/pscheduler-json-dictionary/usr/share/pscheduler \
		install


override_dh_auto_clean:
