Source: pscheduler-tool-tracepath
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-tracepath
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler,
 pscheduler-server, pscheduler-test-trace,
 python3-icmperror, iputils-tracepath
Description: pScheduler tracepath tool
 Tracepath tool class for pScheduler
