Source: jsonschema
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: autopkgtest,
               debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-pyrsistent,
	       python3-setuptools-scm
Build-Depends-Indep: python3-attr (<< 19.0),
                     python3-mock,
                     python3-nose,
                     python3-pytest
Standards-Version: 3.9.8
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-jsonschema.git
Vcs-Git: git://anonscm.debian.org/openstack/python-jsonschema.git
Homepage: https://github.com/Julian/jsonschema

Package: python3-jsonschema
Architecture: all
# We cannot use ${python3:Depends} because we want to add the -u18 dep
Depends: python3:any (>= 3.3.2-2~),
         python3-pyrsistent,
         python3-attr (<< 19.0), python3-pkg-resources, python3-six (>= 1.10.0),
         ${misc:Depends},
Description: An(other) implementation of JSON Schema (Draft 7) - Python 3.x
 JSON Schema is a specification for a JSON-based format for defining
 the structure of JSON data. JSON Schema provides a contract for what
 JSON data is required for a given application and how it can be
 modified, much like what XML Schema provides for XML. JSON Schema is
 intended to provide validation, documentation, and interaction control
 of JSON data.
 .
 This package contains the Python 3.x module.
