#!/usr/bin/make -f
# -*- makefile -*-
DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
-include /usr/share/dpkg/buildflags.mk

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

get-orig-source:
	uscan --force-download --rename --destdir .


# This target replaces the version script with one that doesn't get
# the wrong answer by depending on git.
_fix-version: libjq.pc
	printf '#!/bin/sh -e \necho %s\n' "$$(awk '$$1 == "Version:" { print $$2 }' libjq.pc | head -1)" \
		> ./scripts/version


override_dh_auto_configure: _fix-version
	dh_auto_configure -- --disable-static --disable-fpectl --without-fpectl


override_dh_installdocs:
	cd docs && ./build_manpage.py > jq.1
	dh_installdocs


%:
	dh $@ --with autoreconf


# Ubuntu dbgsym.ddeb are currently not supported by reprepro
override_dh_strip:
	dh_strip --no-automatic-dbgsym
