Source: incremental
Section: python
Priority: optional
Maintainer: perfSONAR Development Team <perfsonar-developer@internet2.edu>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 pypy,
 pypy-setuptools,
 python3-all,
 python3-doc,
 python3-hypothesis,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-zope.interface,
Standards-Version: 3.9.8
Homepage: https://attrs.readthedocs.org/
X-Python3-Version: >= 3.2


Package: python3-incremental
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Recommends:
 ${python3:Recommends}
Suggests: python-attr-doc, ${python3:Suggests}
Description: Incremental is a small library that versions your Python projects.
