Source: pscheduler-database
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-database
Architecture: all
Depends: ${misc:Depends}, dbconfig-common, postgresql,
 postgresql-9.4, postgresql-plpython-9.4, postgresql-contrib-9.4
Description: pScheduler database installer
 Installs PostgreSQL and configures the pScheduler database
