Source: pscheduler-jq-library
Section: misc
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-jq-library
Architecture: all
Depends: ${misc:Depends}, jq (>=1.7)
Description: Library of JQ functions for pScheduler
 A library of JQ functions to use pScheduler internals.
