Source: pscheduler-tool-paris-traceroute
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-paris-traceroute
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler,
 pscheduler-server (>= 4.3.0), pscheduler-test-trace, pscheduler-account,
 python3-icmperror, sudo, paris-traceroute
Description: pScheduler Paris Traceroute Tool
 Paris Traceroute tool class for pScheduler
