Source: pscheduler-context-changenothing
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-context-changenothing
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 pscheduler-server, python-jsontemplate
Description: Null context changer class for pScheduler
 This context changer does nothing.
