Source: constantly
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 pypy,
 pypy-setuptools,
 python3-all,
 python3-doc,
 python3-hypothesis,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-zope.interface,
Standards-Version: 3.9.8
Homepage: https://github.com/twisted/constantly
X-Python3-Version: >= 3.2


Package: python3-constantly
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Recommends:
 ${python3:Recommends}
Description: A library that provides symbolic constant support. It
  includes collections and constants with text, numeric, and bit flag
  values. Originally twisted.python.constants from the Twisted
  project.
