Source: python-detach
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), dh-python, python-setuptools,
 python-nose, python
Standards-Version: 3.9.6
Homepage: https://pypi.python.org/pypi/detach

Package: python-detach
Architecture: all
Depends: ${misc:Depends}, python
Description: Fork and detach the current process
 The detach package contains a context manager called Detach. It is used with
 with with statement to fork the current process and execute code in that
 process. The child process exits when the context manager exits.
