#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	make install \
		DESTDIR=$(CURDIR)/debian/pscheduler-plugin-makefiles/usr/include/pscheduler

override_dh_auto_clean:
