Source: pscheduler-test-dns
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-test-dns
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler (>= 1.3),
 pscheduler-server, python-jsontemplate
Description: pScheduler DNS test
 DNS test class for pScheduler
