Source: pscheduler-tool-pysnmp
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-pysnmp
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler,
 pscheduler-server, pscheduler-test-snmpget,
 pscheduler-test-snmpgetbgm, python3-pysnmp4 (>= 4.3.2)
Description: pScheduler pysnmp tool
 Python SNMP tool class for pScheduler
