Source: pscheduler-server
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>,
 Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), dh-systemd, python
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-server
Architecture: all
Depends: ${misc:Depends}, python, curl,
 python-daemon, python-flask, python-ipaddr, python-requests,
 python-tz, python-jsontemplate, python-detach, python-radix,
 python-pscheduler (>= 1.3.1.3~), pscheduler-core, pscheduler-account,
 apache2, libapache2-mod-wsgi, rsyslog, logrotate,
 dbconfig-common, postgresql (>= 9.6),
 postgresql-10 | postgresql-9.6,
 postgresql-plpython-10 | postgresql-plpython-9.6,
 postgresql-contrib-10 | postgresql-contrib-9.6
Description: pScheduler server components
 The pScheduler database, daemons and API web server
