Source: pscheduler-server
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>,
Build-Depends: debhelper (>= 9), debhelper (>= 9.20160709) | dh-systemd, python3
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-server
Architecture: all
Depends: ${misc:Depends}, python3, curl,
 python3-daemon, python3-flask,
 python3-tz, python3-jsontemplate, python3-radix, python3-crontab,
 python3-pscheduler (>= 4.4.0~), pscheduler-core, pscheduler-account,
 apache2, libapache2-mod-wsgi-py3, rsyslog, logrotate,
 dbconfig-common, postgresql (>= 9.5),
 postgresql-11 | postgresql-10 | postgresql-9.6 | postgresql-9.5,
 postgresql-plpython3-11 | postgresql-plpython3-10 | postgresql-plpython3-9.6 | postgresql-plpython3-9.5,
 postgresql-contrib | postgresql-contrib-10 | postgresql-contrib-9.6 | postgresql-contrib-9.5
Description: pScheduler server components
 The pScheduler database, daemons and API web server
