[Unit]
Description=pScheduler server - ticker

[Service]
Type=simple
User=pscheduler
Group=pscheduler
PermissionsStartOnly=true
ExecStart=/usr/lib/pscheduler/daemons/ticker --dsn @/etc/pscheduler/database/database-dsn
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/pscheduler-ticker.pid"
ExecStopPost=/bin/rm -f /run/pscheduler-ticker.pid

[Install]
WantedBy=multi-user.target
