#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main packaging script based on dh7 syntax
%:
	dh $@

DEB_SOURCE_PACKAGE ?= $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
ROOT ?= $(CURDIR)/debian/$(DEB_SOURCE_PACKAGE)

override_dh_auto_build:
	make -C daemons \
		DAEMONDIR=/usr/lib/pscheduler/daemons \
		DSNFILE=/etc/pscheduler/database/database-dsn \
		LOGDIR=/var/log/pscheduler \
		PGDATABASE=pscheduler \
		PGPASSFILE=/etc/pscheduler/database/pgpassfile \
		PGUSER=pscheduler \
		PSUSER=pscheduler \
		ARCHIVERDEFAULTDIR=/etc/pscheduler/default-archives \
		VAR=/var 

	make -C database \
		DATABASE=pscheduler \
		ROLE=pscheduler \
		PGPASSFILE=$(ROOT)/etc/pscheduler/database/pgpassfile

override_dh_auto_install:
	make -C daemons \
		INITDDIR=$(ROOT)/etc/init.d \
		DAEMONDIR=$(ROOT)/usr/lib/pscheduler/daemons \
		COMMANDDIR=$(ROOT)/usr/lib/pscheduler/commands \
		install

	make -C database \
		DATADIR=$(ROOT)/usr/share/pscheduler \
		INTERNALSDIR=$(ROOT)/usr/lib/pscheduler/internals \
		install
	rm -rf $(ROOT)/usr/share/pscheduler/

	make -C api-server \
		USER_NAME=pscheduler \
		GROUP_NAME=pscheduler \
		API_ROOT=/pscheduler \
		API_DIR=/usr/share/pscheduler/api-server \
		CONF_D=/etc/apache2/conf.d/ \
		PREFIX=$(ROOT) \
		DSN_FILE=/etc/pscheduler/database/database-dsn \
		LIMITS_FILE=/etc/pscheduler/limits.conf \
		install
	cp api-server/*.py api-server/*.wsgi $(ROOT)/usr/share/pscheduler/api-server/
	rm $(ROOT)/usr/share/pscheduler/api-server/*.py?
	cp api-server/pschedulerapiserver/*.py $(ROOT)/usr/share/pscheduler/api-server/pschedulerapiserver/
	rm $(ROOT)/usr/share/pscheduler/api-server/pschedulerapiserver/*.py?
	mv $(ROOT)/etc/apache2/conf.d/pscheduler-api-server.conf \
	   $(ROOT)/etc/apache2/conf.d/pscheduler-server.conf
	chmod -x $(ROOT)/etc/pscheduler/limits.conf

	mkdir -p $(ROOT)/usr/share/dbconfig-common/data/pscheduler-server/install
	mkdir -p $(ROOT)/usr/share/dbconfig-common/data/pscheduler-server/install-dbadmin
	cp database/database-build.sql $(ROOT)/usr/share/dbconfig-common/data/pscheduler-server/install/pgsql
	cp database/database-build-super.sql $(ROOT)/usr/share/dbconfig-common/data/pscheduler-server/install-dbadmin/pgsql

override_dh_installinit:
	dh_installinit --onlyscripts --name=pscheduler-archiver
	dh_installinit --onlyscripts --name=pscheduler-runner
	dh_installinit --onlyscripts --name=pscheduler-scheduler
	dh_installinit --onlyscripts --name=pscheduler-ticker

override_dh_auto_clean:
	make -C api-server clean
	make -C daemons clean
	make -C database clean
