Source: pscheduler-test-trace
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-test-trace
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 python-jsontemplate
Description: pScheduler trace test
 Trace test class for pScheduler
