Source: jq.py
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3,
 python3-all,
 python3-setuptools,
 python3-venv,
 cython3,
 libjq-dev (>=1.7),
 libonig-dev (>=5.9),
 libpython3-dev
Standards-Version: 3.9.8
Homepage: https://pypi.org/project/jq/
X-Python3-Version: >= 3.2

Package: python3-jq.py
Architecture: any
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: python3-jq.py
Recommends:
 ${python3:Recommends}
Description: Python bindings for jq
 jq is like sed for JSON data – you can use it to slice and filter and map and
 transform structured data with the same ease that sed, awk, grep and friends
 let you play with text.
 .
 You can seamlessly call jq script (like regular expression) and process plain
 python data structure.
