#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	ln -sfv nuttcp-*.c nuttcp.c
	dh_auto_build

# Ubuntu dbgsym.ddeb are currently not supported by reprepro
override_dh_strip:
	dh_strip --no-automatic-dbgsym
