#!/usr/bin/make -f

export DH_OPTIONS
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
override_dh_auto_configure:
	dh_auto_configure -- --enable-fastsampling
%:
	dh $@
override_dh_auto_test:

# dbgsym.ddeb are currently not supported by reprepro
override_dh_strip:
	dh_strip --no-automatic-dbgsym
