Source: scapy
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Frank Wang <frnkwang@umich.edu>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/secdev/scapy
Testsuite: autopkgtest-pkg-python
X-Python3-Version: >= 3.2

Package: python3-ntplib
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python packet manipulation library
