Source: pscheduler-archiver-syslog
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-archiver-syslog
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler,
 pscheduler-server (>= 1.0.2.6), rsyslog | system-log-daemon
Description: Syslog archiver class for pScheduler
 Archiver sends JSON test results to syslog.
