Source: pscheduler-tool-halfping
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-halfping
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler,
 pscheduler-server, pscheduler-test-halfping
Description: pScheduler halfping tool
 halfping tool class for pScheduler
