Source: pscheduler-core
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-core
Architecture: all
Depends: ${misc:Depends}, python3-pscheduler (>= 4.4.0~),
 curl, dmidecode, lsof
Recommends: gnuplot-nox | gnuplot5-nox | gnuplot | gnuplot5
Description: pScheduler core programs
 Core programs for pScheduler
