#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main packaging script based on dh7 syntax
%:
	dh $@ 

DEB_SOURCE_PACKAGE ?= $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
ROOT ?= $(CURDIR)/debian/$(DEB_SOURCE_PACKAGE)


override_dh_auto_build:
	make	\
		BINDIR=$(ROOT)/usr/bin/ \
		COMMANDSDIR=$(ROOT)/usr/lib/pscheduler/commands \
		COMMANDSINSTALLED=/usr/lib/pscheduler/commands \
		CLASSESDIR=$(ROOT)/usr/lib/pscheduler/classes \
		CLASSESINSTALLED=/usr/lib/pscheduler/classes \
		INTERNALSDIR=$(ROOT)/usr/lib/pscheduler/internals \
		INTERNALSINSTALLED=/usr/lib/pscheduler/internals \
		LIMITSFILE=/etc/pscheduler/limits.conf \
		TOOLCONFIGDIR=/etc/pscheduler/tool \
		PROFILEDDIR=$(ROOT)/etc/profile.d \
		BASHCOMPDIR=$(ROOT)/usr/share/bash-completion/completions

override_dh_auto_install:
	make	\
		BINDIR=$(ROOT)/usr/bin/ \
		COMMANDSDIR=$(ROOT)/usr/lib/pscheduler/commands \
		COMMANDSINSTALLED=/usr/lib/pscheduler/commands \
		CLASSESDIR=$(ROOT)/usr/lib/pscheduler/classes \
		CLASSESINSTALLED=/usr/lib/pscheduler/classes \
		INTERNALSDIR=$(ROOT)/usr/lib/pscheduler/internals \
		INTERNALSINSTALLED=/usr/lib/pscheduler/internals \
		TOOLCONFIGDIR=/etc/pscheduler/tool \
		PROFILEDDIR=$(ROOT)/etc/profile.d \
		BASHCOMPDIR=$(ROOT)/usr/share/bash-completion/completions \
		install
