Source: pscheduler-bundle-extras
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-bundle-extras
Architecture: all
Depends:
 pscheduler-test-disk-to-disk,
 pscheduler-test-netreach,
 pscheduler-tool-globus,
 pscheduler-tool-nmapreach
Description: pScheduler extras packages
 Bundle of extras pScheduler packages:
 Tests: disk-to-disk, netreach
 Tools: globus, nmapreach

