Source: hyperlink
Section: python
Priority: optional
Maintainer: perfSONAR Development Team <perfsonar-developer@internet2.edu>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 pypy,
 pypy-setuptools,
 python3-all,
 python3-doc,
 python3-hypothesis,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-zope.interface,
Standards-Version: 3.9.8
Homepage: https://github.com/python-hyper/hyperlink
X-Python3-Version: >= 3.2

Package: python3-hyperlink
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Recommends:
 ${python3:Recommends}
Description: Hyperlink provides a pure-Python implementation of
  immutable URLs. Based on RFC 3986 and 3987, the Hyperlink URL makes
  working with both URIs and IRIs easy.
