Source: pscheduler-tool-sleep
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-sleep
Architecture: all
Depends: ${misc:Depends}, python, python-pscheduler
 pscheduler-server, pscheduler-test-idle
Description: pScheduler sleep tool
 Sleep tool class for pScheduler
