Source: make-generic-package
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: make-generic-package
Architecture: all
Depends: ${misc:Depends}, make
Description: Generic package builder
