#!/usr/bin/make -f

%:
	dh $@


override_dh_install:
	make DESTDIR=$(CURDIR)/debian/make-generic-package/usr/include/make install


override_dh_auto_install:
	@true


override_dh_installdocs:
	dh_installdocs README.md
