Source: pscheduler-tool-wpa-supplicant
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Kristofer Hallin <kristofer@sunet.se>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/perfsonar/pscheduler
Vcs-Git: git://github.com/perfsonar/pscheduler
Vcs-Browser: https://github.com/perfsonar/pscheduler

Package: pscheduler-tool-wpa-supplicant
Architecture: all
Depends: ${misc:Depends}, python3, python3-pscheduler,
 pscheduler-server, sudo, wpasupplicant
Description: pScheduler wpa-supplicant tool

